<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.erickogi14gmail.odijotutorapp">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="false" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Views.MainActivity"
            android:label="@string/app_label"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.SplashScreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- SMS Receiver -->
        <receiver android:name=".receiver.SmsReceiver">
            <intent-filter android:priority="99999">
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <!-- Intent service -->

        <service android:name=".Firebase.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".Firebase.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>









        <!--<service-->
            <!--android:name=".service.HttpService"-->
            <!--android:exported="false" />-->
        <!--<service android:name=".Firebase.MyFirebaseInstanceIDService">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.INSTANCE_ID_EVENT" />-->
            <!--</intent-filter>-->
        <!--</service>-->
        <!---->
        <!--<service android:name=".Firebase.MyFirebaseMessagingService">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.google.firebase.MESSAGING_EVENT" />-->
            <!--</intent-filter>-->
        <!--</service>-->

        <activity
            android:name=".Messaging.MessagingActivity"
            android:label="Chats"
            android:parentActivityName=".Views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Views.Receipt.ReceiptActivity" />
        <activity
            android:name=".Views.MyProfile.EditProfile"
            android:label="Edit"
            android:parentActivityName=".Views.MainActivity"
            android:theme="@style/AppTheme.AppBarOverlay" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Views.BaseActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.Requests.RequestDetails"
            android:label="Request"
            android:parentActivityName=".Views.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Views.MyProfile.EditMyProfile"
            android:label="@string/title_activity_edit_my_profile"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>